.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.projectHeader{
    padding: 0.8vw 1vw;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 0.4vw;
    font-size: 1.4vw;
}

.lineProject{
    width: 66.6vw;
    border: 0.15rem solid #2196F3;
}

.projectList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66.6vw;
    gap: 2.6vw;
}

.projectItem{
    display: flex;
    justify-content: space-between;
    gap: 2.2vw;
}

.projectPic{
    width: 22vw;
    height: 22vw;
    border-radius: 0.4vw;
}

.projectInfo{
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.projectTitle{
    font-size: 1.4vw;
    font-weight: 800;
}

.projectDesc{
    font-size: 1vw;
}

.projectSkillUsed{
    font-size: 1vw;
}

.projectLink{
    font-size: 1.2vw;
    font-weight: 600;
    a{
        text-decoration: none;
        color: inherit;
    }
}

@media (max-width: 1024px){
    .projectHeader{
        font-size: 2vw;
    }
    
    .lineProject{
        width: 84vw;
    }
    
    .projectList{
        width: 84vw;
        gap: 2.6vw;
    }
    
    .projectItem{
        display: flex;
        justify-content: space-between;
        gap: 2.2vw;
    }
    
    .projectPic{
        width: 26vw;
        height: 26vw;
        border-radius: 0.4vw;
    }
    
    .projectInfo{
        gap: 1.2vw;
    }
    
    .projectTitle{
        font-size: 2vw;
    }
    
    .projectDesc{
        font-size: 1.4vw;
    }
    
    .projectSkillUsed{
        font-size: 1.4vw;
    }
    
    .projectLink{
        font-size: 1.6vw;
    }
}

@media (max-width: 768px){
    .projectHeader{
        padding: 1vw 1vw;
        font-size: 2.4vw;
    }
    
    .lineProject{
        width: 84vw;
        margin-top: -1vw;
    }
    
    .projectList{
        width: 84vw;
        margin-top: -1vw;
        gap: 2.6vw;
    }
    
    .projectItem{
        display: flex;
        justify-content: space-between;
        gap: 2.2vw;
    }
    
    .projectPic{
        width: 28vw;
        height: 28vw;
        border-radius: 0.4vw;
    }
    
    .projectInfo{
        gap: 1.2vw;
    }
    
    .projectTitle{
        font-size: 2.4vw;
    }
    
    .projectDesc{
        font-size: 1.6vw;
    }
    
    .projectSkillUsed{
        font-size: 1.6vw;
    }
    
    .projectLink{
        font-size: 2vw;
    }
}

@media (max-width: 430px){
    .projectHeader{
        padding: 1.4vw 1.6vw;
        font-size: 3.2vw;
        border-radius: 0.8vw;
    }
    
    .lineProject{
        border: 0.122rem solid #2196F3;
        margin-top: -2vw;
    }
    
    .projectList{
        margin-top: -2vw;
    }
    
    .projectItem{
        display: flex;
        justify-content: space-between;
        gap: 2.4vw;
    }
    
    .projectPic{
        width: 30vw;
        height: 30vw;
        border-radius: 0.4vw;
    }
    
    .projectInfo{
        gap: 1.2vw;
    }
    
    .projectTitle{
        font-size: 3vw;
    }
    
    .projectDesc{
        font-size: 2vw;
    }
    
    .projectSkillUsed{
        font-size: 2vw;
    }
    
    .projectLink{
        font-size: 2.2vw;
    }
}