.contactMe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.contactHeader{
    padding: 0.8vw 1vw;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 0.4vw;
    font-size: 1.4vw;
}

.lineContact{
    width: 66.6vw;
    border: 0.15rem solid #2196F3;
}

.contactList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6vw;
    margin-bottom: 4%;
}

.instaItem, .linkedInItem, .whatsappItem, .gitHubItem{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: inherit;

    img{
        width: 3vw;
        height: 3vw;
    }

    span{
        font-size: 1vw;
        font-weight: 500;
    }
}

@media (max-width: 1024px){
    .contactHeader{
        font-size: 2vw;
    }
    
    .lineContact{
        width: 84vw;
    }
    
    .instaItem, .linkedInItem, .whatsappItem, .gitHubItem{
        display: flex;
        align-items: center;
        gap: 0.7vw;
        text-decoration: none;
        color: inherit;
    
        img{
            width: 5vw;
            height: 5vw;
        }
    
        span{
            font-size: 1.8vw;
            font-weight: 500;
        }
    }
}

@media (max-width: 768px){
    .contactHeader{
        padding: 1vw 1vw;
        font-size: 2.4vw;
    }
    
    .lineContact{
        width: 84vw;
        margin-top: -1vw;
    }
    
    .instaItem, .linkedInItem, .whatsappItem, .gitHubItem{
        gap: 0.7vw;
        margin-top: -1vw;
        
        img{
            width: 5vw;
            height: 5vw;
        }
    
        span{
            font-size: 1.8vw;
            font-weight: 500;
        }
    }
}

@media (max-width: 430px){
    .contactHeader{
        padding: 1.4vw 1.6vw;
        font-size: 3.2vw;
        border-radius: 0.8vw;
    }
    
    .lineContact{
        border: 0.122rem solid #2196F3;
        margin-top: -2vw;
    }
    
    .instaItem, .linkedInItem, .whatsappItem, .gitHubItem{
        gap: 0.7vw;
        margin-top: -2vw;

        img{
            width: 6vw;
            height: 6vw;
        }
    
        span{
            font-size: 2vw;
            font-weight: 500;
        }
    }
}

